body {
    background: url(../images/back2.jpg) fixed center center no-repeat;
    background-size: cover;
}

.menu tr td a{
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

.headline-description {

    font-weight: bold;
    color: #002855;
    font-size: 18px;
    font-family: sans-serif;
}

.text-description-short {
    margin-left: 30px;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
}

.name-wine {
    font-size: 28px;
}

.list-item-description li span {
    font-weight: 400;
    display: inline-block;
    float: left;
    width: 155px;
    color: gray;
}

.list-item-contacts li span {
    font-weight: 400;
    display: inline-block;
    float: left;
    width: 170px;
    color: gray;

}
.list-item-contacts li input {
    height: 20px;
    width: 200px;
    font-size: 15px;
    font-family: "Times New Roman";
    color: black;
}

.description-img {
    border: 2px solid black;
}

.list-item-contacts li textarea {
    resize: none;
}

.list {
    list-style-type: none;
}

.text-description-headline {
    color: #002855;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}

.text-description-subhead {
    color: #464445;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.text-description-body {
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
}
